<div class="tpost-cont">
  <div class="tpost-date-source"> 
    [date] | ADDED BY: [source]
  </div>
  <div class="tpost-title">
    VERY important title
  </div>
  <div class="tpost-image">
    <img class="tpost-image" src="http://media1.noi.md/uploads/images/Politicieni/Nicolae_Timofti_infoprut_ro.jpg">
  </div>
  <div class="tpost-descr-cont">
    <div class="tpost-counter-cont">
      <div class="tpost-arrow">
        <a><img src="http://i63.tinypic.com/16a8igk.png"></a>
      </div>
      <div class="tpost-votes">
        <a>256</a>
      </div>
    </div>
    <div class="tpost-descr">
      Graeci facete ex vim, saepe sapientem adolescens his an. Vel ei veritus consequat, eam ei magna feugait principes. His prima justo volutpat an, te eos quod eros. Cu mea verear senserit, qui eros quas deseruisse cu. Te vix eirmod fabulas, quem ludus aliquid ut his.        
    </div>

  </div>
  <div class="tpost-more">
    Citeste mai mult >
  </div>
</div>

<div class="tpost-cont">
  <div class="tpost-date-source"> 
    [date] | ADDED BY: [source]
  </div>
  <div class="tpost-title2">
    VERY important title
  </div>
  <div class="tpost-descr-cont">
    <div class="tpost-counter-cont">
      <div class="tpost-arrow">
        <a><img src="http://i63.tinypic.com/16a8igk.png"></a>
      </div>
      <div class="tpost-votes">
        <a>256</a>
      </div>
    </div>
    <div class="tpost-descr">
      Graeci facete ex vim, saepe sapientem adolescens his an. Vel ei veritus consequat, eam ei magna feugait principes. His prima justo volutpat an, te eos quod eros. Cu mea verear senserit, qui eros quas deseruisse cu. Te vix eirmod fabulas, quem ludus aliquid ut his.        
    </div>
  </div>
  <div class="tpost-more">
    Citeste mai mult >
  </div>
</div>

<div class="tpost-cont">
  <div class="tpost-counter-cont2">
    <div class="tpost-arrow">
      <a><img src="http://i63.tinypic.com/16a8igk.png"></a>
    </div>
    <div class="tpost-votes">
      <a>256</a>
    </div>
  </div>
  <div class="tpost-date-source"> 
    [date] | ADDED BY: [source]
  </div>
  <div class="tpost-title3">
    VERY important title
  </div>
  <div class="tpost-more">
    Citeste mai mult >
  </div>
</div>